*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
  
    box-shadow: 2px 1px 2px #eee;
}
.header img{
    height: 20px;
    width: 170px;
    padding: 10px,10px;
}
.header-right{
    
justify-content: space-between;
}
.header-right a{
    font-size: medium;
    color: #666;
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    justify-content: space-around;
    padding:20px ;
}
.hero-section{
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;

}
.child1{
    padding: 40px;
}

.child1 img{
    width: 600px;
    height: 300px;

    
}
.child2 h1 ,p,button{
    margin-top: 10px;
    padding: 10px;
    font-family: 'Inter',serif;
}
.child2 p{
    margin-top: 10px;
}
.child2 button{
    border: 1px solid #bbb;
    border-radius: 4px;
    background-color: #387ed1;
    
    margin-top: 20px;
    
   
    color: #eee;
}